
<% wrap_layout :layout do %>
  <article>
    <h1><%= current_page.title %></h1>
    <small><%= current_page.date.strftime('%b %e %Y') %></small>

    <div class='contents'>
      <%= yield %>
      <div style='clear: both'></div>
    </div>

    <% if previous_article || next_article %>
      <section class='article-navigation'>

      <% if previous_article %>
        <div class='prev'>&laquo; <a href="<%= previous_article.url %>"><%= previous_article.title %></a></div>
      <% end %>

      <% if next_article %>
        <div class='next'><a href="<%= next_article.url %>"><%= next_article.title %></a> &raquo;</div>
      <% end %>

      <div style='clear: both'></div>
      </section>
    <% end %>

    <div id="discourse-comments"></div>
    <script type="text/javascript">
      var discourseUrl = "<% if development? %>http://localhost:3000/<% else %>http://fishtank.eviltrout.com/<% end %>",
          discourseEmbedUrl = "<% if development? %>http://localhost:4567<% else %>http://eviltrout.com<% end %><%= current_page.url %>";
      (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
      })();
    </script>
  </article>
<% end %>
