<% blog.articles[0...15].each do |article| %>
<article>
  <h1><a href="<%= article.absolute_url(development?) %>"><%= article.title %></a></h1>
  <small><%= article.date.strftime('%b %e %Y') %></small>
  <div class='contents'><%= article.body %></div>

  <a href="<%= article.absolute_url(development?) %>#discourse-comments">View the full article to comment on it</a>
</article>
<% end %>

<hr>

<h2>Older Posts</h2>

<% blog.articles[15..-1].each do |article| %>
  <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
  <small><%= article.date.strftime('%b %e %Y') %></small>
<% end %>

<script type="text/javascript">
  var discourseUrl = "<% if development? %>http://localhost:3000/<% else %>http://fishtank.eviltrout.com/<% end %>";

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = discourseUrl + 'javascripts/count.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
